PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/kosmetik
JWT_ACCESS_SECRET=change-me-to-a-long-random-string
JWT_REFRESH_SECRET=change-me-to-another-long-random-string
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
ADMIN_EMAIL=admin@karmen-kosmetik.de
ADMIN_PASSWORD="Admin#2026"
